*{
  margin:0 .5rem; 
  padding:0;
  list-style: none;
  text-decoration: none;
  font-family: 'Cabinet Grotesk', sans-serif;

}
.container{
  max-width: 500px;
 min-height:350px;
  border: .1rem solid green;
  padding: 1.2rem;
  border-radius: 5px;
  margin: auto;

}

.header{
  display: flex;
  justify-content: space-between;

}
.btn{
  background: darkslategray;
  padding: .5rem;
  font-size: 1.2rem;
  border-radius:3px;
  color: white;
  border: none;
  float: right;
}
li{
  margin-top: 10px;
    font-size: 1.2rem;
     padding: .8rem;
}

.task:nth-child(odd){
  background-color: aliceblue;
 
  margin:.4rem;

}

.task{
  font-size: medium;
 
}
.reminder{
  border-left: .4rem solid green;
}
.form-control{
  min-width:400px;
  padding: 18px;
  margin: 10px;

}
form label{
  font-size: 1.2rem;
}
input[type="submit"]{
  margin: 10px !important;
  padding: 20px !important;
  background-color: #0e03033e !important;
 display: block !important;
 margin: auto !important;
  color:white !important;
}

.done{
  position: relative;
  
}

.completed{
  position:absolute;
  right: 5px;
  bottom: 0;
  background-color: rgba(0, 128, 0, 0.653);
  padding: 7px;
  border-radius:8px ;
  margin: 5px;
  text-align: center;
  color: azure;
  border: 0;

}

.donebtn{
  position: absolute;
  bottom: 5px;
  background-color: blanchedalmond;
  padding: 8px;
  right:5px;
  border: 0;
  border-radius: 5px;
  cursor:pointer;
  color: #0e03033e;
}